@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
*{
      margin: 0;
      padding: 0;
}

body{
      background: url(1.jpg) no-repeat center center fixed;
      background-size: cover;
}
.container{
      color: white;
      position: absolute;
      top: 25%;
      left: 35%;

}
.container h1{
      width: 150%;
      display: inline-block;
      font-size: 40px;
      border-bottom:5px solid purple;
      margin-bottom: 8px;
      padding: 8px 0;
      font-family: 'Heebo', sans-serif;
}
.box{
      width: 150%;
      border-bottom: 2px solid purple;
      margin: 13px 0px;

}
.box input{
      background: none;
      width: 75%;
      padding: 10px 10px;
      font-size: 20px;
      border: none;
      outline: none;
      color: white;
}

.box i{
      width: 25px;
      text-align: center;
}
.btn{
      color: white;
      cursor: pointer;
      outline: none;
      margin: 12px 0;
      padding: 10px 21px;
      border-radius: 10px;
      border: 2px solid purple;
      font-size: 18px;
      background: none;
      font-weight: bold;
}
.btn:hover{
      color: purple;
      background: white;
      opacity: .5;
      
}

@media only screen  and (min-width: 1200px) {
      
      .container{
            top: 25%;
            left: 36%;
      }
    }

@media only screen and (max-width: 840px) {
      
      .container{
            top: 30%;
            left: 20%;
      }
     .container h1{
            width:53%;
            font-size: 26px;
            margin-bottom: 10px;
            padding: 1px 0;
      }

      .box input{
            font-size: 18px;
      }
    
    }

    @media only screen and (max-width: 600px) {
      
      .container{
            top: 28%;
            left: 11%;
      }

      .container h1{
            width:53%;
            font-size: 26px;
            margin-bottom: 10px;
            padding: 1px 0;
      }

      .box input{
            font-size: 18px;
      }
    }

@media only screen and (max-width: 470px) {
      
      .container{
            top: 32%;
            left: 30%;
      }

      .container h1{
            width:72%;
            font-size: 26px;
            margin-bottom: 10px;
            padding: 5px 0;
            border-bottom:3px solid purple;
      }

      .box{
            width: 90%;
            margin: 9px 0px;
            border-bottom: 1px solid purple;
      }
      
      .box input{
            width: 100%;
            padding: 3px 0px;
            font-size: 15px;
      }
      .box i{
            display: none;
      }

      .btn{
            font-size: 14px;
            margin: 8px 0;
            padding: 6px 10px;
      }
    }
